.datepicker--nav {
  border-bottom: none;
}
.datepicker--nav-title {
  order: -1;
}
.datepicker--nav-action:hover {
  border-radius: 50%;
}
.datepicker-here {
  box-shadow: 0px 4px 20px #d9d9d9;
}
.datepicker-inline .datepicker {
  border: none;
}
